<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스 페이지</title>
</head>
<body>
    <h1>인덱스 페이지 입니다.</h1>
    <p>적절한 변경점을 추가한다.</p>
    <a href="./login">로그인 하러가기</a>
    <% if(session == null) { %>
    <a href="./signup">회원 가입</a>
    <%}%>
</body>
</html>